/* FONT HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/* FONT DEFAULT TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100&display=swap');

/* FONT SPECIAL TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.title {
    color: cadetblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 43px;
    text-align: center;
    padding-top: 15px;
}

.display {
    color: whitesmoke;
    font-family: 'Alexandria', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #0f0e0e;
    font-weight: 800;
    padding: 8px;
    border-radius: 10px;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    background-color: #131212;
    border: 1px solid rgb(196, 194, 194);
    min-width: 100px;
    min-height: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    font-family: 'Comfortaa', cursive;
    color: darkkhaki;
}

.playerO {
    font-family: 'Comfortaa', cursive;
    color: blueviolet;

}

.announcer {
    font-weight: 900;
    background-color: #0f0e0e;
    padding: 8px;
    border-radius: 8px;
}

.controls {
    margin-top: 15px;
    text-align: center;
}

#reset {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #e74c3c;
    color: whitesmoke;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 21px;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .statistics p {
        justify-content: center;
        text-align: center;
    }
}

.scoreboard {
    font-size: 40px;
    font-family: 'Chivo Mono', cursive;
    display: flex;
    justify-content: center;
}

.statistics {
    color: whitesmoke;
    font-family: 'Alexandria', monospace;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.stat {
    background-color: #0c0c0c;
    padding-top: 10px;
    border-radius: 15px;
    font-size: 20px;
}

h1 {
    font-family: 'Rubik Vinyl', cursive;
}

.wrapper {
    padding: 15px;
    border-radius: 15px;
    background: #111111;
    text-align: center;
}

.wrapper-text {
    justify-content: center;
    background: #111111;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.statistic-fix { 
    margin-bottom: 10px;
}