/* FONT HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* FONT DEFAULT TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100&display=swap');

/* FONT SPECIAL TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

.title {
    color: #e74c3c;
    /* color: #4c00ff; */
    font-family: 'Sriracha', cursive;
    font-size: 45px;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}

.display {
    color: whitesmoke;
    font-family: 'Alexandria', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
    font-weight: bolder;
}

.hide {
    display: none;
}

.hide-cancelled-games {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    background-color: #161616;
    border: 1px solid whitesmoke;
    min-width: 100px;
    min-height: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    font-family: 'Comfortaa', cursive;
    color: aqua;
}

.playerO {
    font-family: 'Comfortaa', cursive;
    color: blueviolet;

}

.announcer {
    margin-top: 20px;
    font-weight: 900;
    font-size: 29px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#reset {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #e74c3c;
    color: whitesmoke;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .statistics {
        justify-content: center;
    }
}


.statistics {
    color: whitesmoke;
    font-family: 'Alexandria', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    font-weight: bolder;
    size: 18px;
}











.content-bottom {
    display: flex;
    margin: 10px;
    padding: 5%;
}



.end {
    background: rgba(255, 255, 255, .8);
    bottom: 5px;
    color: #3d4250;
    display: none;
    left: 5px;
    padding-top: 55px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 11;
}