@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;300;400&family=Comfortaa:wght@400;500;600;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}

.title {
    color: #e74c3c;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.display {
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.hide {
    display: none;
}

.hide-cancelled-games {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    background-color: #202020;
    border: 1px solid rgb(255, 255, 255);
    min-width: 100px;
    min-height: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    font-family: 'Comfortaa', cursive;
    color: aqua;
}

.playerO {
    font-family: 'Comfortaa', cursive;
    color: blueviolet;

}

.announcer {
    margin-top: 20px;
    font-weight: 900;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#reset {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #e74c3c;
    color: whitesmoke;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.statistics {
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}