/* FONT HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
/* FONT CARDS*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* FONT SPECIAL TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&display=swap');

main * {
    margin: 0;
}

h1 {
    font-family: 'Rubik Vinyl', cursive;
}

.title {
    color: cadetblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 47px;
    display: block;
    text-align: center;
    padding: 5px;
    padding-bottom: 0px;
}

@media screen and (max-width: 410px) {
    .title {
        font-size: 40px;
    }
}

.wrapper {
    padding: 15px;
    padding-top: 0px !important;
    border-radius: 15px;
    background: #111111;
    text-align: center;
    margin: auto !important;
    margin-bottom: 15px !important;
}

.wrapper-text {
    background: #111111;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    margin-bottom: 15px !important;
}

.wrapper-last {
    margin-bottom: 20px !important;
}

.content-hightlight {
    background-color: #0d0d0d;
    margin-top: 4px;
    padding: 3px;
    border-radius: 5px;
    font-size: 20px;
}

.header {
    max-width: 320px;
    margin: auto;
}

/*++++++++++++++++++++++++ CATEGORY ++++++++++++++++++++++++*/

.category {
    display: flex;
    justify-content: center;
    background: #0d0d0d;
    background: #0c0c0c;
    background: #0a0a0a;
    padding: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 45px;
    margin-left: 45px;
}

.category-text {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 18px;
}

.category-image {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.wrapper-questions {
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    background: #2b2b2b;
    background: #202020;
    margin: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.50);
}

.question {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-weight: 400;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.scoreboard {
    display: flex;
    justify-content: right;
    font-family: 'Chivo Mono', cursive;
    font-size: 26px;
    background-color: #202020;
    border-radius: 7px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
}

.icon-correction {
    margin-top: 2px;
}

hr {
    margin-top: 10px;
    border: 1.5px solid #3f3e3e;
    border-radius: 2px;
}

.next-question {
    display: flex;
    background: #302f2f;
    margin-left: auto;
    margin-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

.grid-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
}

button:hover {
    color: dimgrey;
}

/*++++++++++++++++++++++++ COLORS ++++++++++++++++++++++++*/

.color-fail {
    color: #f86060;
}

.color-streak {
    color: #f7d360;
    color: #ffbc56;
}

.color-right {
    color: #89ff9d;
}

.color-time {
    color: #a3a1a1;
}