.title {
    color: cadetblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 47px;
    display: block;
    text-align: center;
    padding: 5px;
}

.iframe {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    border: 3px solid #141414;
    border-radius: 5px;
}

h1 {
    font-family: 'Rubik Vinyl', cursive;
}

.header-title {
    font-size: 31px;
}

.text {
    margin-top: 4px !important;
}

.image-wrapper {
    margin-top: 0px !important;
}

.card-bottom-correction {
    margin-bottom: 15px !important;
}

@media screen and (min-width: 500px) {
    .image-wrapper {
        max-width: 800px !important;
    }
}

.content-hightlight {
    background-color: #0d0d0d;
    padding: 4px;
    border-radius: 5px;
    margin-top: 4px;
    font-size: 20px;
}