/* FONT HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/* FONT CARDS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* FONT SPECIAL TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.title {
    color: cadetblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 46px;
}

.subtitle {
    font-family: 'Alexandria', sans-serif;
    color: aliceblue;
    font-size: 27px;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    background: #111111;
    max-width: 330px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
}

.wrapper-cards {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background: #111111;
    margin-top: 5px;
    height: 570px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    max-width: 315px;
}

.cards,
.card,
.view {
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    height: 315px;
    width: 315px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.cards .card {
    cursor: pointer;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    margin-bottom: 15px;
}

.card.foundPair>.view {
    background-color: rgb(143, 236, 171) !important;
    background-color: rgb(110, 110, 110) !important;
}

.card.shake {
    animation: shake 0.30s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.card .view {
    width: 110%;
    height: 110%;
    position: absolute;
    border-radius: 10px;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
    background: aliceblue;
    color: #111111;
}

.card,
.view {
    display: flex;
}

.card .front-view img {
    width: 29px;
}

.card .back-view img {
    max-width: 70px;
    margin-bottom: 3px;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.controls {
    margin-bottom: 10px;
    margin-top: 15px;
}

#reset {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #e74c3c;
    margin-top: 0px;
    border-radius: 8px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
}

button {
    background-color: #1a1818;
    border-color: #5f5858;
    font-size: 13px;
}

.scoreboard {
    font-size: 40px;
    font-family: 'Chivo Mono', cursive;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.statistic-top {
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.statistic-bottom {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.stat {
    background-color: #0d0d0d;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
    font-size: 20px;
}

h1 {
    font-family: 'Rubik Vinyl', cursive;
}

.wrapper-text {
    margin: auto;
    background: #111111;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    margin-bottom: 15px !important;
    max-width: 315px;
}

.wrapper-last {
    margin-bottom: 20px !important;
}

.wrapper-content-correction {
    margin-top: 10px !important;
    padding: 10px !important;
}

.wrapper-content-correction-top {
    padding: 5px !important;
    margin-top: 2px !important;
}

.content-text {
    margin-top: 10px;
    font-size: 18px !important;
}

.content-hightlight {
    background-color: #0d0d0d;
    margin-top: 4px;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
}

#back {
    display: block;
    border-color: #1d1c1c;
    background-color: #111111;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 10px;
}