/* FONT HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/* FONT CARDS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* FONT SPECIAL TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.title {
    color: cadetblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 46px;
}

.subtitle {
    font-family: 'Alexandria', sans-serif;
    color: aliceblue;
    font-size: 27px;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    background: #111111;
    max-width: 330px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
}

.wrapper-cards {
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background: #111111;
    margin-top: 5px;
    height: 640px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    max-width: 315px;
}

.wrapper-longer {
    height: 695px;
}

.cards,
.card,
.view {
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    height: 315px;
    width: 315px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.cards .card {
    cursor: pointer;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    margin-bottom: 15px;
}

.card.foundPair>.view {
    background-color: #aeffbb !important;
}

.card.shake {
    animation: shake 0.30s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.card .view {
    width: 110%;
    height: 110%;
    position: absolute;
    border-radius: 10px;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
    background: aliceblue;
    color: #111111;
}

.card,
.view {
    display: flex;
}

.card .front-view img {
    width: 29px;
}

.card .back-view img {
    max-width: 74px;
    margin-bottom: 4px;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.controls {
    margin-bottom: 10px;
    margin-top: 15px;
}

#reset {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #e74c3c;
    margin-top: 0px;
    border-radius: 8px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
}

button {
    background-color: #1a1818;
    border-color: #5f5858;
    font-size: 13px;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.scoreboard {
    display: flex;
    justify-content: right;
    font-family: 'Chivo Mono', cursive;
    margin-top: 12px;
    font-size: 26px;
    border: 2px solid #141414;
    background-color: #202020;
    border-radius: 7px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.icon-correction {
    margin-top: 2px;
}

hr {
    margin-top: 273px;
    border: 1.5px solid #3f3e3e;
    border-radius: 2px;
}

h1 {
    font-family: 'Rubik Vinyl', cursive;
}

.wrapper-text {
    margin: auto;
    background: #111111;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.514), 0 20px 20px 0 rgba(0, 0, 0, 0);
    margin-bottom: 15px !important;
    max-width: 315px;
}

.wrapper-last {
    margin-bottom: 25px !important;
}

.content-hightlight {
    background-color: #0d0d0d;
    margin-top: 4px;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
}

.button-large-width-adjust {
    padding-left: 35px;
}

/****************************************************************/

.color-fail {
    color: #f86060;
}

.color-pair {
    color: #89ff9d;
}

.color-time {
    color: #a3a1a1;
}

/****************************************************************/

.player-one {
    color: #e1fb9c;
}

.player-two {
    color: #c0aeff;
}

/****************************************************************/

.card.player-one-found>.view {
    background-color: #e1fb9c !important;
}

.card.player-two-found>.view {
    background-color: #c0aeff !important;
}