.memory-board {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(12.5% - 15px), 1fr));
    grid-gap: 15px;
}

.memory-ui {
    height: 50px;
    margin: 3em 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.65);
}

.memory-ui .memory-moves {
    display: flex;
}

.memory-ui .memory-matches {
    display: flex;
    align-items: center;
}